USE [dinepulse]
GO
/****** Object:  StoredProcedure [dbo].[ValidateUser]    Script Date: 05-06-2024 21:59:57 ******/
DROP PROCEDURE [dbo].[ValidateUser]
GO
/****** Object:  StoredProcedure [dbo].[UpdateUser]    Script Date: 05-06-2024 21:59:57 ******/
DROP PROCEDURE [dbo].[UpdateUser]
GO
/****** Object:  StoredProcedure [dbo].[UpdateMenu]    Script Date: 05-06-2024 21:59:57 ******/
DROP PROCEDURE [dbo].[UpdateMenu]
GO
/****** Object:  StoredProcedure [dbo].[Table_UpdateTable]    Script Date: 05-06-2024 21:59:57 ******/
DROP PROCEDURE [dbo].[Table_UpdateTable]
GO
/****** Object:  StoredProcedure [dbo].[Table_GetTables]    Script Date: 05-06-2024 21:59:57 ******/
DROP PROCEDURE [dbo].[Table_GetTables]
GO
/****** Object:  StoredProcedure [dbo].[Table_DeleteTable]    Script Date: 05-06-2024 21:59:57 ******/
DROP PROCEDURE [dbo].[Table_DeleteTable]
GO
/****** Object:  StoredProcedure [dbo].[Table_AddTable]    Script Date: 05-06-2024 21:59:57 ******/
DROP PROCEDURE [dbo].[Table_AddTable]
GO
/****** Object:  StoredProcedure [dbo].[Shop_UpdateShopDetails]    Script Date: 05-06-2024 21:59:57 ******/
DROP PROCEDURE [dbo].[Shop_UpdateShopDetails]
GO
/****** Object:  StoredProcedure [dbo].[Shop_GetShopDetails]    Script Date: 05-06-2024 21:59:57 ******/
DROP PROCEDURE [dbo].[Shop_GetShopDetails]
GO
/****** Object:  StoredProcedure [dbo].[Shop_AddShopDetails]    Script Date: 05-06-2024 21:59:57 ******/
DROP PROCEDURE [dbo].[Shop_AddShopDetails]
GO
/****** Object:  StoredProcedure [dbo].[MenuCategory_UpdateCategory]    Script Date: 05-06-2024 21:59:57 ******/
DROP PROCEDURE [dbo].[MenuCategory_UpdateCategory]
GO
/****** Object:  StoredProcedure [dbo].[MenuCategory_InsertCategory]    Script Date: 05-06-2024 21:59:57 ******/
DROP PROCEDURE [dbo].[MenuCategory_InsertCategory]
GO
/****** Object:  StoredProcedure [dbo].[MenuCategory_GetCategory]    Script Date: 05-06-2024 21:59:57 ******/
DROP PROCEDURE [dbo].[MenuCategory_GetCategory]
GO
/****** Object:  StoredProcedure [dbo].[MenuCategory_DeleteCategory]    Script Date: 05-06-2024 21:59:57 ******/
DROP PROCEDURE [dbo].[MenuCategory_DeleteCategory]
GO
/****** Object:  StoredProcedure [dbo].[InsertUser]    Script Date: 05-06-2024 21:59:57 ******/
DROP PROCEDURE [dbo].[InsertUser]
GO
/****** Object:  StoredProcedure [dbo].[InsertMenu]    Script Date: 05-06-2024 21:59:57 ******/
DROP PROCEDURE [dbo].[InsertMenu]
GO
/****** Object:  StoredProcedure [dbo].[GetUsers]    Script Date: 05-06-2024 21:59:57 ******/
DROP PROCEDURE [dbo].[GetUsers]
GO
/****** Object:  StoredProcedure [dbo].[GetMenuById]    Script Date: 05-06-2024 21:59:57 ******/
DROP PROCEDURE [dbo].[GetMenuById]
GO
/****** Object:  StoredProcedure [dbo].[getmenuall]    Script Date: 05-06-2024 21:59:57 ******/
DROP PROCEDURE [dbo].[getmenuall]
GO
/****** Object:  StoredProcedure [dbo].[Device_UpdateDevice]    Script Date: 05-06-2024 21:59:57 ******/
DROP PROCEDURE [dbo].[Device_UpdateDevice]
GO
/****** Object:  StoredProcedure [dbo].[Device_GetDevices]    Script Date: 05-06-2024 21:59:57 ******/
DROP PROCEDURE [dbo].[Device_GetDevices]
GO
/****** Object:  StoredProcedure [dbo].[Device_DeleteDevice]    Script Date: 05-06-2024 21:59:57 ******/
DROP PROCEDURE [dbo].[Device_DeleteDevice]
GO
/****** Object:  StoredProcedure [dbo].[Device_AddDevice]    Script Date: 05-06-2024 21:59:57 ******/
DROP PROCEDURE [dbo].[Device_AddDevice]
GO
/****** Object:  StoredProcedure [dbo].[DeleteUser]    Script Date: 05-06-2024 21:59:57 ******/
DROP PROCEDURE [dbo].[DeleteUser]
GO
/****** Object:  StoredProcedure [dbo].[DeleteMenu]    Script Date: 05-06-2024 21:59:57 ******/
DROP PROCEDURE [dbo].[DeleteMenu]
GO
/****** Object:  StoredProcedure [dbo].[Dash_GetTotalOrdersReceivedToday]    Script Date: 05-06-2024 21:59:57 ******/
DROP PROCEDURE [dbo].[Dash_GetTotalOrdersReceivedToday]
GO
/****** Object:  StoredProcedure [dbo].[Dash_GetTotalOrdersPendingToday]    Script Date: 05-06-2024 21:59:57 ******/
DROP PROCEDURE [dbo].[Dash_GetTotalOrdersPendingToday]
GO
/****** Object:  StoredProcedure [dbo].[Dash_GetTotalOrdersDeliveredToday]    Script Date: 05-06-2024 21:59:57 ******/
DROP PROCEDURE [dbo].[Dash_GetTotalOrdersDeliveredToday]
GO
/****** Object:  StoredProcedure [dbo].[Dash_GetRecentOrder]    Script Date: 05-06-2024 21:59:57 ******/
DROP PROCEDURE [dbo].[Dash_GetRecentOrder]
GO
/****** Object:  StoredProcedure [dbo].[Dash_GetDashboardData]    Script Date: 05-06-2024 21:59:57 ******/
DROP PROCEDURE [dbo].[Dash_GetDashboardData]
GO
ALTER TABLE [dbo].[tbl_user_roles] DROP CONSTRAINT [FK__tbl_user___user___3B75D760]
GO
ALTER TABLE [dbo].[tbl_user_roles] DROP CONSTRAINT [FK__tbl_user___role___3C69FB99]
GO
ALTER TABLE [dbo].[tbl_reservation] DROP CONSTRAINT [FK__tbl_reser__table__5DCAEF64]
GO
ALTER TABLE [dbo].[tbl_reservation] DROP CONSTRAINT [FK__tbl_reser__slot___5FB337D6]
GO
ALTER TABLE [dbo].[tbl_reservation] DROP CONSTRAINT [FK__tbl_reser__custo__5EBF139D]
GO
ALTER TABLE [dbo].[tbl_order_tracking] DROP CONSTRAINT [FK__tbl_order__statu__68487DD7]
GO
ALTER TABLE [dbo].[tbl_order_tracking] DROP CONSTRAINT [FK__tbl_order__order__6754599E]
GO
ALTER TABLE [dbo].[tbl_order_detail] DROP CONSTRAINT [FK__tbl_order__order__5441852A]
GO
ALTER TABLE [dbo].[tbl_order_detail] DROP CONSTRAINT [FK__tbl_order__item___5535A963]
GO
ALTER TABLE [dbo].[tbl_order] DROP CONSTRAINT [FK__tbl_order__table__5070F446]
GO
ALTER TABLE [dbo].[tbl_order] DROP CONSTRAINT [FK__tbl_order__statu__5165187F]
GO
ALTER TABLE [dbo].[tbl_order] DROP CONSTRAINT [FK__tbl_order__order__4F7CD00D]
GO
ALTER TABLE [dbo].[tbl_order] DROP CONSTRAINT [FK__tbl_order__custo__4E88ABD4]
GO
ALTER TABLE [dbo].[tbl_menu] DROP CONSTRAINT [FK__tbl_menu__item_c__412EB0B6]
GO
ALTER TABLE [dbo].[tbl_feedback] DROP CONSTRAINT [FK__tbl_feedb__custo__6B24EA82]
GO
ALTER TABLE [dbo].[tbl_device] DROP CONSTRAINT [FK__tbl_devic__user___6477ECF3]
GO
ALTER TABLE [dbo].[tbl_customer_login] DROP CONSTRAINT [FK__tbl_custo__custo__45F365D3]
GO
ALTER TABLE [dbo].[tbl_bill_detail] DROP CONSTRAINT [FK__tbl_bill___order__5812160E]
GO
ALTER TABLE [dbo].[tbl_bill_detail] DROP CONSTRAINT [FK__tbl_bill___custo__59063A47]
GO
/****** Object:  Table [dbo].[tbl_user_roles]    Script Date: 05-06-2024 21:59:57 ******/
IF  EXISTS (SELECT * FROM sys.objects WHERE object_id = OBJECT_ID(N'[dbo].[tbl_user_roles]') AND type in (N'U'))
DROP TABLE [dbo].[tbl_user_roles]
GO
/****** Object:  Table [dbo].[tbl_user]    Script Date: 05-06-2024 21:59:57 ******/
IF  EXISTS (SELECT * FROM sys.objects WHERE object_id = OBJECT_ID(N'[dbo].[tbl_user]') AND type in (N'U'))
DROP TABLE [dbo].[tbl_user]
GO
/****** Object:  Table [dbo].[tbl_table_detail]    Script Date: 05-06-2024 21:59:57 ******/
IF  EXISTS (SELECT * FROM sys.objects WHERE object_id = OBJECT_ID(N'[dbo].[tbl_table_detail]') AND type in (N'U'))
DROP TABLE [dbo].[tbl_table_detail]
GO
/****** Object:  Table [dbo].[tbl_slot]    Script Date: 05-06-2024 21:59:57 ******/
IF  EXISTS (SELECT * FROM sys.objects WHERE object_id = OBJECT_ID(N'[dbo].[tbl_slot]') AND type in (N'U'))
DROP TABLE [dbo].[tbl_slot]
GO
/****** Object:  Table [dbo].[tbl_roles]    Script Date: 05-06-2024 21:59:57 ******/
IF  EXISTS (SELECT * FROM sys.objects WHERE object_id = OBJECT_ID(N'[dbo].[tbl_roles]') AND type in (N'U'))
DROP TABLE [dbo].[tbl_roles]
GO
/****** Object:  Table [dbo].[tbl_reservation]    Script Date: 05-06-2024 21:59:57 ******/
IF  EXISTS (SELECT * FROM sys.objects WHERE object_id = OBJECT_ID(N'[dbo].[tbl_reservation]') AND type in (N'U'))
DROP TABLE [dbo].[tbl_reservation]
GO
/****** Object:  Table [dbo].[tbl_order_type]    Script Date: 05-06-2024 21:59:57 ******/
IF  EXISTS (SELECT * FROM sys.objects WHERE object_id = OBJECT_ID(N'[dbo].[tbl_order_type]') AND type in (N'U'))
DROP TABLE [dbo].[tbl_order_type]
GO
/****** Object:  Table [dbo].[tbl_order_tracking]    Script Date: 05-06-2024 21:59:57 ******/
IF  EXISTS (SELECT * FROM sys.objects WHERE object_id = OBJECT_ID(N'[dbo].[tbl_order_tracking]') AND type in (N'U'))
DROP TABLE [dbo].[tbl_order_tracking]
GO
/****** Object:  Table [dbo].[tbl_order_status]    Script Date: 05-06-2024 21:59:57 ******/
IF  EXISTS (SELECT * FROM sys.objects WHERE object_id = OBJECT_ID(N'[dbo].[tbl_order_status]') AND type in (N'U'))
DROP TABLE [dbo].[tbl_order_status]
GO
/****** Object:  Table [dbo].[tbl_order_detail]    Script Date: 05-06-2024 21:59:57 ******/
IF  EXISTS (SELECT * FROM sys.objects WHERE object_id = OBJECT_ID(N'[dbo].[tbl_order_detail]') AND type in (N'U'))
DROP TABLE [dbo].[tbl_order_detail]
GO
/****** Object:  Table [dbo].[tbl_order]    Script Date: 05-06-2024 21:59:57 ******/
IF  EXISTS (SELECT * FROM sys.objects WHERE object_id = OBJECT_ID(N'[dbo].[tbl_order]') AND type in (N'U'))
DROP TABLE [dbo].[tbl_order]
GO
/****** Object:  Table [dbo].[tbl_menu_category]    Script Date: 05-06-2024 21:59:57 ******/
IF  EXISTS (SELECT * FROM sys.objects WHERE object_id = OBJECT_ID(N'[dbo].[tbl_menu_category]') AND type in (N'U'))
DROP TABLE [dbo].[tbl_menu_category]
GO
/****** Object:  Table [dbo].[tbl_menu]    Script Date: 05-06-2024 21:59:57 ******/
IF  EXISTS (SELECT * FROM sys.objects WHERE object_id = OBJECT_ID(N'[dbo].[tbl_menu]') AND type in (N'U'))
DROP TABLE [dbo].[tbl_menu]
GO
/****** Object:  Table [dbo].[tbl_feedback]    Script Date: 05-06-2024 21:59:57 ******/
IF  EXISTS (SELECT * FROM sys.objects WHERE object_id = OBJECT_ID(N'[dbo].[tbl_feedback]') AND type in (N'U'))
DROP TABLE [dbo].[tbl_feedback]
GO
/****** Object:  Table [dbo].[tbl_device]    Script Date: 05-06-2024 21:59:57 ******/
IF  EXISTS (SELECT * FROM sys.objects WHERE object_id = OBJECT_ID(N'[dbo].[tbl_device]') AND type in (N'U'))
DROP TABLE [dbo].[tbl_device]
GO
/****** Object:  Table [dbo].[tbl_customer_login]    Script Date: 05-06-2024 21:59:57 ******/
IF  EXISTS (SELECT * FROM sys.objects WHERE object_id = OBJECT_ID(N'[dbo].[tbl_customer_login]') AND type in (N'U'))
DROP TABLE [dbo].[tbl_customer_login]
GO
/****** Object:  Table [dbo].[tbl_customer]    Script Date: 05-06-2024 21:59:57 ******/
IF  EXISTS (SELECT * FROM sys.objects WHERE object_id = OBJECT_ID(N'[dbo].[tbl_customer]') AND type in (N'U'))
DROP TABLE [dbo].[tbl_customer]
GO
/****** Object:  Table [dbo].[tbl_configuration]    Script Date: 05-06-2024 21:59:57 ******/
IF  EXISTS (SELECT * FROM sys.objects WHERE object_id = OBJECT_ID(N'[dbo].[tbl_configuration]') AND type in (N'U'))
DROP TABLE [dbo].[tbl_configuration]
GO
/****** Object:  Table [dbo].[tbl_bill_detail]    Script Date: 05-06-2024 21:59:57 ******/
IF  EXISTS (SELECT * FROM sys.objects WHERE object_id = OBJECT_ID(N'[dbo].[tbl_bill_detail]') AND type in (N'U'))
DROP TABLE [dbo].[tbl_bill_detail]
GO
/****** Object:  Table [dbo].[tbl_bill_detail]    Script Date: 05-06-2024 21:59:57 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[tbl_bill_detail](
	[bill_id] [int] IDENTITY(1,1) NOT NULL,
	[order_id] [int] NULL,
	[customer_id] [int] NULL,
	[bill_date] [date] NULL,
	[total_amount] [decimal](10, 2) NULL,
	[status] [varchar](50) NULL,
 CONSTRAINT [PK__tbl_bill__D706DDB35606A9C7] PRIMARY KEY CLUSTERED 
(
	[bill_id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[tbl_configuration]    Script Date: 05-06-2024 21:59:57 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[tbl_configuration](
	[shop_id] [int] NOT NULL,
	[shop_name] [varchar](250) NULL,
	[shop_email] [varchar](250) NULL,
	[shop_phone_number] [varchar](250) NULL,
	[shop_address] [varchar](250) NULL,
	[tax_rate] [decimal](10, 2) NULL,
PRIMARY KEY CLUSTERED 
(
	[shop_id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[tbl_customer]    Script Date: 05-06-2024 21:59:57 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[tbl_customer](
	[customer_id] [int] IDENTITY(1,1) NOT NULL,
	[customer_name] [varchar](100) NULL,
	[customer_email] [varchar](100) NULL,
	[customer_phone] [varchar](20) NULL,
	[customer_registered_date] [date] NULL,
 CONSTRAINT [PK__tbl_cust__CD65CB858D03826B] PRIMARY KEY CLUSTERED 
(
	[customer_id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[tbl_customer_login]    Script Date: 05-06-2024 21:59:57 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[tbl_customer_login](
	[customer_login_id] [int] IDENTITY(1,1) NOT NULL,
	[customer_id] [int] NULL,
	[customer_username] [varchar](50) NULL,
	[customer_password] [varchar](50) NULL,
 CONSTRAINT [PK__tbl_cust__1CFB4795377CFB5C] PRIMARY KEY CLUSTERED 
(
	[customer_login_id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[tbl_device]    Script Date: 05-06-2024 21:59:57 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[tbl_device](
	[device_id] [varchar](250) NOT NULL,
	[device_username] [varchar](250) NULL,
	[device_password] [varchar](250) NULL,
	[device_token] [varchar](max) NULL,
	[user_id] [int] NULL,
PRIMARY KEY CLUSTERED 
(
	[device_id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY] TEXTIMAGE_ON [PRIMARY]
GO
/****** Object:  Table [dbo].[tbl_feedback]    Script Date: 05-06-2024 21:59:57 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[tbl_feedback](
	[feedback_id] [int] IDENTITY(1,1) NOT NULL,
	[customer_id] [int] NULL,
	[feedback_date] [date] NULL,
	[feedback_text] [varchar](500) NULL,
	[rating] [int] NULL,
 CONSTRAINT [PK__tbl_feed__7A6B2B8CC3ABC06E] PRIMARY KEY CLUSTERED 
(
	[feedback_id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[tbl_menu]    Script Date: 05-06-2024 21:59:57 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[tbl_menu](
	[item_id] [int] IDENTITY(1,1) NOT NULL,
	[item_name] [varchar](100) NULL,
	[item_category] [int] NULL,
	[item_description] [varchar](255) NULL,
	[item_price] [decimal](10, 2) NULL,
	[item_image] [varbinary](max) NULL,
 CONSTRAINT [PK__tbl_menu__52020FDD65D99E08] PRIMARY KEY CLUSTERED 
(
	[item_id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY] TEXTIMAGE_ON [PRIMARY]
GO
/****** Object:  Table [dbo].[tbl_menu_category]    Script Date: 05-06-2024 21:59:57 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[tbl_menu_category](
	[category_id] [int] IDENTITY(1,1) NOT NULL,
	[category_name] [varchar](50) NULL,
	[category_description] [varchar](255) NULL,
	[category_image] [varbinary](max) NULL,
 CONSTRAINT [PK__tbl_menu__D54EE9B458098827] PRIMARY KEY CLUSTERED 
(
	[category_id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY] TEXTIMAGE_ON [PRIMARY]
GO
/****** Object:  Table [dbo].[tbl_order]    Script Date: 05-06-2024 21:59:57 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[tbl_order](
	[order_id] [int] IDENTITY(1,1) NOT NULL,
	[customer_id] [int] NULL,
	[order_datetime] [datetime] NULL,
	[order_type_id] [int] NULL,
	[table_id] [int] NULL,
	[status_id] [int] NULL,
 CONSTRAINT [PK__tbl_orde__465962298299C3B8] PRIMARY KEY CLUSTERED 
(
	[order_id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[tbl_order_detail]    Script Date: 05-06-2024 21:59:57 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[tbl_order_detail](
	[order_detail_id] [int] IDENTITY(1,1) NOT NULL,
	[order_id] [int] NULL,
	[item_id] [int] NULL,
	[quantity] [int] NULL,
 CONSTRAINT [PK__tbl_orde__3C5A40802E01D94C] PRIMARY KEY CLUSTERED 
(
	[order_detail_id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[tbl_order_status]    Script Date: 05-06-2024 21:59:57 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[tbl_order_status](
	[status_id] [int] NOT NULL,
	[status_name] [varchar](50) NULL,
PRIMARY KEY CLUSTERED 
(
	[status_id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[tbl_order_tracking]    Script Date: 05-06-2024 21:59:57 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[tbl_order_tracking](
	[tracking_id] [int] NOT NULL,
	[order_id] [int] NULL,
	[status_id] [int] NULL,
	[changed_datetime] [datetime] NULL,
PRIMARY KEY CLUSTERED 
(
	[tracking_id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[tbl_order_type]    Script Date: 05-06-2024 21:59:57 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[tbl_order_type](
	[order_type_id] [int] NOT NULL,
	[order_type_name] [varchar](50) NULL,
PRIMARY KEY CLUSTERED 
(
	[order_type_id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[tbl_reservation]    Script Date: 05-06-2024 21:59:57 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[tbl_reservation](
	[reservation_id] [int] NOT NULL,
	[table_id] [int] NULL,
	[reservation_date] [date] NULL,
	[customer_id] [int] NULL,
	[slot_id] [int] NULL,
	[status] [varchar](50) NULL,
PRIMARY KEY CLUSTERED 
(
	[reservation_id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[tbl_roles]    Script Date: 05-06-2024 21:59:57 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[tbl_roles](
	[role_id] [int] NOT NULL,
	[role_name] [varchar](50) NULL,
PRIMARY KEY CLUSTERED 
(
	[role_id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[tbl_slot]    Script Date: 05-06-2024 21:59:57 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[tbl_slot](
	[slot_id] [int] NOT NULL,
	[slot_start_time] [time](7) NULL,
	[slot_end_time] [time](7) NULL,
PRIMARY KEY CLUSTERED 
(
	[slot_id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[tbl_table_detail]    Script Date: 05-06-2024 21:59:57 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[tbl_table_detail](
	[table_id] [int] IDENTITY(1,1) NOT NULL,
	[table_number] [int] NULL,
	[table_capacity] [int] NULL,
	[table_status] [varchar](50) NULL,
 CONSTRAINT [PK__tbl_tabl__B21E8F2470E1168D] PRIMARY KEY CLUSTERED 
(
	[table_id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[tbl_user]    Script Date: 05-06-2024 21:59:57 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[tbl_user](
	[user_id] [int] IDENTITY(1,1) NOT NULL,
	[user_name] [varchar](50) NULL,
	[user_password] [varchar](50) NULL,
	[user_type] [varchar](50) NULL,
	[user_status] [varchar](50) NULL,
	[user_registered_date] [date] NULL,
 CONSTRAINT [PK__tbl_user__B9BE370F28434D0A] PRIMARY KEY CLUSTERED 
(
	[user_id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[tbl_user_roles]    Script Date: 05-06-2024 21:59:57 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[tbl_user_roles](
	[user_id] [int] NOT NULL,
	[role_id] [int] NOT NULL,
PRIMARY KEY CLUSTERED 
(
	[user_id] ASC,
	[role_id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
SET IDENTITY_INSERT [dbo].[tbl_bill_detail] ON 

INSERT [dbo].[tbl_bill_detail] ([bill_id], [order_id], [customer_id], [bill_date], [total_amount], [status]) VALUES (4, 4, 1, CAST(N'2024-06-05' AS Date), CAST(100.00 AS Decimal(10, 2)), N'Paid')
INSERT [dbo].[tbl_bill_detail] ([bill_id], [order_id], [customer_id], [bill_date], [total_amount], [status]) VALUES (5, 5, 2, CAST(N'2024-06-05' AS Date), CAST(200.00 AS Decimal(10, 2)), N'Paid')
INSERT [dbo].[tbl_bill_detail] ([bill_id], [order_id], [customer_id], [bill_date], [total_amount], [status]) VALUES (6, 6, 3, CAST(N'2024-06-05' AS Date), CAST(150.00 AS Decimal(10, 2)), N'Paid')
SET IDENTITY_INSERT [dbo].[tbl_bill_detail] OFF
GO
INSERT [dbo].[tbl_configuration] ([shop_id], [shop_name], [shop_email], [shop_phone_number], [shop_address], [tax_rate]) VALUES (1, NULL, NULL, NULL, NULL, NULL)
GO
SET IDENTITY_INSERT [dbo].[tbl_customer] ON 

INSERT [dbo].[tbl_customer] ([customer_id], [customer_name], [customer_email], [customer_phone], [customer_registered_date]) VALUES (1, N'John Doe', N'john.doe@example.com', N'123-456-7890', CAST(N'2024-01-01' AS Date))
INSERT [dbo].[tbl_customer] ([customer_id], [customer_name], [customer_email], [customer_phone], [customer_registered_date]) VALUES (2, N'Jane Smith', N'jane.smith@example.com', N'234-567-8901', CAST(N'2024-01-02' AS Date))
INSERT [dbo].[tbl_customer] ([customer_id], [customer_name], [customer_email], [customer_phone], [customer_registered_date]) VALUES (3, N'Alice Johnson', N'alice.johnson@example.com', N'345-678-9012', CAST(N'2024-01-03' AS Date))
SET IDENTITY_INSERT [dbo].[tbl_customer] OFF
GO
SET IDENTITY_INSERT [dbo].[tbl_menu] ON 

INSERT [dbo].[tbl_menu] ([item_id], [item_name], [item_category], [item_description], [item_price], [item_image]) VALUES (1, N'Breaded Tofu Sandwich', 1, N'Savor the sensational flavors of this vegan delight, featuring crispy breaded tofu, zesty Russian dressing, and crisp pickles, harmoniously layered between slices of bread for a mouthwatering sandwich experience that delights the senses.', CAST(11.49 AS Decimal(10, 2)), NULL)
INSERT [dbo].[tbl_menu] ([item_id], [item_name], [item_category], [item_description], [item_price], [item_image]) VALUES (2, N'Loaded Nachos', 1, N'Delicious loaded nachos topped with melted cheese, tangy salsa, creamy guacamole, and zesty jalapenos, creating a mouthwatering fusion of flavors and textures. Perfect for sharing and indulging', CAST(11.29 AS Decimal(10, 2)), NULL)
INSERT [dbo].[tbl_menu] ([item_id], [item_name], [item_category], [item_description], [item_price], [item_image]) VALUES (3, N'Rainbow Smoothie', 3, N'Indulge in a vibrant rainbow smoothie with layers of antioxidant-rich fruits and creamy Greek yogurt, each adding a burst of color and flavor to this delightful treat!', CAST(10.49 AS Decimal(10, 2)), NULL)
SET IDENTITY_INSERT [dbo].[tbl_menu] OFF
GO
SET IDENTITY_INSERT [dbo].[tbl_menu_category] ON 

INSERT [dbo].[tbl_menu_category] ([category_id], [category_name], [category_description], [category_image]) VALUES (1, N'Starters', N'Appetizers to begin your meal.', NULL)
INSERT [dbo].[tbl_menu_category] ([category_id], [category_name], [category_description], [category_image]) VALUES (2, N'Main Course', N'Hearty and fulfilling dishes.', NULL)
SET IDENTITY_INSERT [dbo].[tbl_menu_category] OFF
GO
SET IDENTITY_INSERT [dbo].[tbl_order] ON 

INSERT [dbo].[tbl_order] ([order_id], [customer_id], [order_datetime], [order_type_id], [table_id], [status_id]) VALUES (4, 1, CAST(N'2024-06-05T18:10:37.183' AS DateTime), 1, 1, 1)
INSERT [dbo].[tbl_order] ([order_id], [customer_id], [order_datetime], [order_type_id], [table_id], [status_id]) VALUES (5, 2, CAST(N'2024-06-05T18:10:37.183' AS DateTime), 1, 2, 2)
INSERT [dbo].[tbl_order] ([order_id], [customer_id], [order_datetime], [order_type_id], [table_id], [status_id]) VALUES (6, 3, CAST(N'2024-06-05T18:10:37.183' AS DateTime), 2, 3, 1)
SET IDENTITY_INSERT [dbo].[tbl_order] OFF
GO
SET IDENTITY_INSERT [dbo].[tbl_order_detail] ON 

INSERT [dbo].[tbl_order_detail] ([order_detail_id], [order_id], [item_id], [quantity]) VALUES (2, 4, 1, 2)
INSERT [dbo].[tbl_order_detail] ([order_detail_id], [order_id], [item_id], [quantity]) VALUES (3, 4, 2, 1)
INSERT [dbo].[tbl_order_detail] ([order_detail_id], [order_id], [item_id], [quantity]) VALUES (4, 5, 3, 3)
SET IDENTITY_INSERT [dbo].[tbl_order_detail] OFF
GO
INSERT [dbo].[tbl_order_status] ([status_id], [status_name]) VALUES (1, N'Pending')
INSERT [dbo].[tbl_order_status] ([status_id], [status_name]) VALUES (2, N'Delivered')
GO
INSERT [dbo].[tbl_order_type] ([order_type_id], [order_type_name]) VALUES (1, N'DineIn')
INSERT [dbo].[tbl_order_type] ([order_type_id], [order_type_name]) VALUES (2, N'TakeAway')
INSERT [dbo].[tbl_order_type] ([order_type_id], [order_type_name]) VALUES (3, N'Online')
GO
INSERT [dbo].[tbl_roles] ([role_id], [role_name]) VALUES (1, N'admin')
INSERT [dbo].[tbl_roles] ([role_id], [role_name]) VALUES (2, N'user')
INSERT [dbo].[tbl_roles] ([role_id], [role_name]) VALUES (3, N'kitchen')
GO
INSERT [dbo].[tbl_slot] ([slot_id], [slot_start_time], [slot_end_time]) VALUES (1, CAST(N'12:00:00' AS Time), CAST(N'13:00:00' AS Time))
INSERT [dbo].[tbl_slot] ([slot_id], [slot_start_time], [slot_end_time]) VALUES (2, CAST(N'13:00:00' AS Time), CAST(N'14:00:00' AS Time))
INSERT [dbo].[tbl_slot] ([slot_id], [slot_start_time], [slot_end_time]) VALUES (3, CAST(N'14:00:00' AS Time), CAST(N'15:00:00' AS Time))
GO
SET IDENTITY_INSERT [dbo].[tbl_table_detail] ON 

INSERT [dbo].[tbl_table_detail] ([table_id], [table_number], [table_capacity], [table_status]) VALUES (1, 1, 4, N'Available')
INSERT [dbo].[tbl_table_detail] ([table_id], [table_number], [table_capacity], [table_status]) VALUES (2, 2, 2, N'Available')
INSERT [dbo].[tbl_table_detail] ([table_id], [table_number], [table_capacity], [table_status]) VALUES (3, 3, 6, N'Available')
SET IDENTITY_INSERT [dbo].[tbl_table_detail] OFF
GO
SET IDENTITY_INSERT [dbo].[tbl_user] ON 

INSERT [dbo].[tbl_user] ([user_id], [user_name], [user_password], [user_type], [user_status], [user_registered_date]) VALUES (1, N'admin', N'admin123', N'admin', N'active', CAST(N'2024-06-05' AS Date))
INSERT [dbo].[tbl_user] ([user_id], [user_name], [user_password], [user_type], [user_status], [user_registered_date]) VALUES (2, N'user', N'user1234', N'user', N'active', CAST(N'2024-06-05' AS Date))
INSERT [dbo].[tbl_user] ([user_id], [user_name], [user_password], [user_type], [user_status], [user_registered_date]) VALUES (3, N'kitchen', N'kitchen1', N'kitchen', N'active', CAST(N'2024-06-05' AS Date))
SET IDENTITY_INSERT [dbo].[tbl_user] OFF
GO
ALTER TABLE [dbo].[tbl_bill_detail]  WITH CHECK ADD  CONSTRAINT [FK__tbl_bill___custo__59063A47] FOREIGN KEY([customer_id])
REFERENCES [dbo].[tbl_customer] ([customer_id])
GO
ALTER TABLE [dbo].[tbl_bill_detail] CHECK CONSTRAINT [FK__tbl_bill___custo__59063A47]
GO
ALTER TABLE [dbo].[tbl_bill_detail]  WITH CHECK ADD  CONSTRAINT [FK__tbl_bill___order__5812160E] FOREIGN KEY([order_id])
REFERENCES [dbo].[tbl_order] ([order_id])
GO
ALTER TABLE [dbo].[tbl_bill_detail] CHECK CONSTRAINT [FK__tbl_bill___order__5812160E]
GO
ALTER TABLE [dbo].[tbl_customer_login]  WITH CHECK ADD  CONSTRAINT [FK__tbl_custo__custo__45F365D3] FOREIGN KEY([customer_id])
REFERENCES [dbo].[tbl_customer] ([customer_id])
GO
ALTER TABLE [dbo].[tbl_customer_login] CHECK CONSTRAINT [FK__tbl_custo__custo__45F365D3]
GO
ALTER TABLE [dbo].[tbl_device]  WITH CHECK ADD  CONSTRAINT [FK__tbl_devic__user___6477ECF3] FOREIGN KEY([user_id])
REFERENCES [dbo].[tbl_user] ([user_id])
GO
ALTER TABLE [dbo].[tbl_device] CHECK CONSTRAINT [FK__tbl_devic__user___6477ECF3]
GO
ALTER TABLE [dbo].[tbl_feedback]  WITH CHECK ADD  CONSTRAINT [FK__tbl_feedb__custo__6B24EA82] FOREIGN KEY([customer_id])
REFERENCES [dbo].[tbl_customer] ([customer_id])
GO
ALTER TABLE [dbo].[tbl_feedback] CHECK CONSTRAINT [FK__tbl_feedb__custo__6B24EA82]
GO
ALTER TABLE [dbo].[tbl_menu]  WITH CHECK ADD  CONSTRAINT [FK__tbl_menu__item_c__412EB0B6] FOREIGN KEY([item_category])
REFERENCES [dbo].[tbl_menu_category] ([category_id])
GO
ALTER TABLE [dbo].[tbl_menu] CHECK CONSTRAINT [FK__tbl_menu__item_c__412EB0B6]
GO
ALTER TABLE [dbo].[tbl_order]  WITH CHECK ADD  CONSTRAINT [FK__tbl_order__custo__4E88ABD4] FOREIGN KEY([customer_id])
REFERENCES [dbo].[tbl_customer] ([customer_id])
GO
ALTER TABLE [dbo].[tbl_order] CHECK CONSTRAINT [FK__tbl_order__custo__4E88ABD4]
GO
ALTER TABLE [dbo].[tbl_order]  WITH CHECK ADD  CONSTRAINT [FK__tbl_order__order__4F7CD00D] FOREIGN KEY([order_type_id])
REFERENCES [dbo].[tbl_order_type] ([order_type_id])
GO
ALTER TABLE [dbo].[tbl_order] CHECK CONSTRAINT [FK__tbl_order__order__4F7CD00D]
GO
ALTER TABLE [dbo].[tbl_order]  WITH CHECK ADD  CONSTRAINT [FK__tbl_order__statu__5165187F] FOREIGN KEY([status_id])
REFERENCES [dbo].[tbl_order_status] ([status_id])
GO
ALTER TABLE [dbo].[tbl_order] CHECK CONSTRAINT [FK__tbl_order__statu__5165187F]
GO
ALTER TABLE [dbo].[tbl_order]  WITH CHECK ADD  CONSTRAINT [FK__tbl_order__table__5070F446] FOREIGN KEY([table_id])
REFERENCES [dbo].[tbl_table_detail] ([table_id])
GO
ALTER TABLE [dbo].[tbl_order] CHECK CONSTRAINT [FK__tbl_order__table__5070F446]
GO
ALTER TABLE [dbo].[tbl_order_detail]  WITH CHECK ADD  CONSTRAINT [FK__tbl_order__item___5535A963] FOREIGN KEY([item_id])
REFERENCES [dbo].[tbl_menu] ([item_id])
GO
ALTER TABLE [dbo].[tbl_order_detail] CHECK CONSTRAINT [FK__tbl_order__item___5535A963]
GO
ALTER TABLE [dbo].[tbl_order_detail]  WITH CHECK ADD  CONSTRAINT [FK__tbl_order__order__5441852A] FOREIGN KEY([order_id])
REFERENCES [dbo].[tbl_order] ([order_id])
GO
ALTER TABLE [dbo].[tbl_order_detail] CHECK CONSTRAINT [FK__tbl_order__order__5441852A]
GO
ALTER TABLE [dbo].[tbl_order_tracking]  WITH CHECK ADD  CONSTRAINT [FK__tbl_order__order__6754599E] FOREIGN KEY([order_id])
REFERENCES [dbo].[tbl_order] ([order_id])
GO
ALTER TABLE [dbo].[tbl_order_tracking] CHECK CONSTRAINT [FK__tbl_order__order__6754599E]
GO
ALTER TABLE [dbo].[tbl_order_tracking]  WITH CHECK ADD FOREIGN KEY([status_id])
REFERENCES [dbo].[tbl_order_status] ([status_id])
GO
ALTER TABLE [dbo].[tbl_reservation]  WITH CHECK ADD  CONSTRAINT [FK__tbl_reser__custo__5EBF139D] FOREIGN KEY([customer_id])
REFERENCES [dbo].[tbl_customer] ([customer_id])
GO
ALTER TABLE [dbo].[tbl_reservation] CHECK CONSTRAINT [FK__tbl_reser__custo__5EBF139D]
GO
ALTER TABLE [dbo].[tbl_reservation]  WITH CHECK ADD FOREIGN KEY([slot_id])
REFERENCES [dbo].[tbl_slot] ([slot_id])
GO
ALTER TABLE [dbo].[tbl_reservation]  WITH CHECK ADD  CONSTRAINT [FK__tbl_reser__table__5DCAEF64] FOREIGN KEY([table_id])
REFERENCES [dbo].[tbl_table_detail] ([table_id])
GO
ALTER TABLE [dbo].[tbl_reservation] CHECK CONSTRAINT [FK__tbl_reser__table__5DCAEF64]
GO
ALTER TABLE [dbo].[tbl_user_roles]  WITH CHECK ADD FOREIGN KEY([role_id])
REFERENCES [dbo].[tbl_roles] ([role_id])
GO
ALTER TABLE [dbo].[tbl_user_roles]  WITH CHECK ADD  CONSTRAINT [FK__tbl_user___user___3B75D760] FOREIGN KEY([user_id])
REFERENCES [dbo].[tbl_user] ([user_id])
GO
ALTER TABLE [dbo].[tbl_user_roles] CHECK CONSTRAINT [FK__tbl_user___user___3B75D760]
GO
/****** Object:  StoredProcedure [dbo].[Dash_GetDashboardData]    Script Date: 05-06-2024 21:59:57 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO

CREATE PROCEDURE [dbo].[Dash_GetDashboardData]
AS
BEGIN
    SELECT 
        (SELECT COUNT(*) FROM [dbo].[tbl_order] WHERE CONVERT(DATE, order_datetime) = CONVERT(DATE, GETDATE())) AS OrderReceived,
        (SELECT COUNT(*) FROM [dbo].[tbl_order] WHERE status_id = 1 AND CONVERT(DATE, order_datetime) = CONVERT(DATE, GETDATE())) AS OrderPending,
        (SELECT COUNT(*) FROM [dbo].[tbl_order] WHERE status_id = 2 AND CONVERT(DATE, order_datetime) = CONVERT(DATE, GETDATE())) AS OrderDelivered,
        (SELECT ISNULL(SUM(total_amount), 0) FROM [dbo].[tbl_bill_detail] WHERE CONVERT(DATE, bill_date) = CONVERT(DATE, GETDATE())) AS NetRevenue
END
GO
/****** Object:  StoredProcedure [dbo].[Dash_GetRecentOrder]    Script Date: 05-06-2024 21:59:57 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE PROCEDURE [dbo].[Dash_GetRecentOrder]
AS
BEGIN
   SELECT 
        o.order_id as orderId,
        c.customer_name as customerName,
        STRING_AGG(m.item_name, ', ') AS orderItems ,
        sum(od.quantity) AS quantities,
        o.order_datetime as orderDate,
        bd.total_amount AS totalPrice,
        os.status_name AS orderStatus,
        ot.order_type_name as orderType
    FROM 
        tbl_order o
    JOIN 
        tbl_customer c ON o.customer_id = c.customer_id
    LEFT JOIN 
        tbl_order_detail od ON o.order_id = od.order_id
    LEFT JOIN 
        tbl_menu m ON od.item_id = m.item_id
    LEFT JOIN 
        tbl_bill_detail bd ON o.order_id = bd.order_id
    LEFT JOIN 
        tbl_order_type ot ON o.order_type_id = ot.order_type_id
    LEFT JOIN 
        tbl_order_status os ON o.status_id = os.status_id
    WHERE 
        CONVERT(DATE, o.order_datetime) = CONVERT(DATE, GETDATE())
    GROUP BY 
        o.order_id, c.customer_name, o.order_datetime, bd.total_amount, os.status_name, ot.order_type_name
END
GO
/****** Object:  StoredProcedure [dbo].[Dash_GetTotalOrdersDeliveredToday]    Script Date: 05-06-2024 21:59:58 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO

CREATE PROCEDURE [dbo].[Dash_GetTotalOrdersDeliveredToday]
AS
BEGIN
    SELECT COUNT(*) AS TotalOrdersDelivered
    FROM [dbo].[tbl_order]
    WHERE status_id = 2 AND CONVERT(DATE, order_datetime) = CONVERT(DATE, GETDATE()) -- Assuming 2 indicates 'Delivered'
END
GO
/****** Object:  StoredProcedure [dbo].[Dash_GetTotalOrdersPendingToday]    Script Date: 05-06-2024 21:59:58 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO

CREATE PROCEDURE [dbo].[Dash_GetTotalOrdersPendingToday]
AS
BEGIN
    SELECT COUNT(*) AS TotalOrdersPending
    FROM [dbo].[tbl_order]
    WHERE status_id = 1 AND CONVERT(DATE, order_datetime) = CONVERT(DATE, GETDATE()) -- Assuming 1 indicates 'Pending'
END
GO
/****** Object:  StoredProcedure [dbo].[Dash_GetTotalOrdersReceivedToday]    Script Date: 05-06-2024 21:59:58 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE PROCEDURE [dbo].[Dash_GetTotalOrdersReceivedToday]
AS
BEGIN
    SELECT COUNT(*) AS TotalOrdersReceived
    FROM [dbo].[tbl_order]
    WHERE CONVERT(DATE, order_datetime) = CONVERT(DATE, GETDATE())
END
GO
/****** Object:  StoredProcedure [dbo].[DeleteMenu]    Script Date: 05-06-2024 21:59:58 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE PROCEDURE [dbo].[DeleteMenu]
    @item_id INT
AS
BEGIN
    DELETE FROM [dbo].[tbl_menu]
    WHERE [item_id] = @item_id
END
GO
/****** Object:  StoredProcedure [dbo].[DeleteUser]    Script Date: 05-06-2024 21:59:58 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE PROCEDURE [dbo].[DeleteUser]
    @user_id INT
AS
BEGIN
    DELETE FROM [dbo].[tbl_user]
    WHERE [user_id] = @user_id
END
GO
/****** Object:  StoredProcedure [dbo].[Device_AddDevice]    Script Date: 05-06-2024 21:59:58 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE PROCEDURE [dbo].[Device_AddDevice]
    @device_id VARCHAR(250),
    @device_username VARCHAR(250),
    @device_password VARCHAR(250),
    @device_token VARCHAR(MAX),
    @user_id INT
AS
BEGIN
    INSERT INTO [dbo].[tbl_device]
    (
        [device_id], 
        [device_username], 
        [device_password], 
        [device_token], 
        [user_id]
    )
    VALUES 
    (
        @device_id, 
        @device_username, 
        @device_password, 
        @device_token, 
        @user_id
    )
END
GO
/****** Object:  StoredProcedure [dbo].[Device_DeleteDevice]    Script Date: 05-06-2024 21:59:58 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE PROCEDURE [dbo].[Device_DeleteDevice]
    @device_id VARCHAR(250)
AS
BEGIN
    DELETE FROM [dbo].[tbl_device]
    WHERE [device_id] = @device_id
END
GO
/****** Object:  StoredProcedure [dbo].[Device_GetDevices]    Script Date: 05-06-2024 21:59:58 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE PROCEDURE [dbo].[Device_GetDevices]
AS
BEGIN
    SELECT 
        [device_id], 
        [device_username], 
        [device_password], 
        [device_token], 
        [user_id]
    FROM 
        [dbo].[tbl_device]
END
GO
/****** Object:  StoredProcedure [dbo].[Device_UpdateDevice]    Script Date: 05-06-2024 21:59:58 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE PROCEDURE [dbo].[Device_UpdateDevice]
    @device_id VARCHAR(250),
    @device_username VARCHAR(250),
    @device_password VARCHAR(250),
    @device_token VARCHAR(MAX),
    @user_id INT
AS
BEGIN
    UPDATE [dbo].[tbl_device]
    SET 
        [device_username] = @device_username,
        [device_password] = @device_password,
        [device_token] = @device_token,
        [user_id] = @user_id
    WHERE 
        [device_id] = @device_id
END
GO
/****** Object:  StoredProcedure [dbo].[getmenuall]    Script Date: 05-06-2024 21:59:58 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO

CREATE procedure [dbo].[getmenuall]
as
begin
select * from tbl_menu;
end
GO
/****** Object:  StoredProcedure [dbo].[GetMenuById]    Script Date: 05-06-2024 21:59:58 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE PROCEDURE [dbo].[GetMenuById]
    @item_id INT
AS
BEGIN
    SELECT [item_id], [item_name], [item_category], [item_description], [item_price], [item_image]
    FROM [dbo].[tbl_menu]
    WHERE [item_id] = @item_id
END
GO
/****** Object:  StoredProcedure [dbo].[GetUsers]    Script Date: 05-06-2024 21:59:58 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE PROCEDURE [dbo].[GetUsers]
AS
BEGIN
    SELECT * FROM [dbo].[tbl_user]
END
GO
/****** Object:  StoredProcedure [dbo].[InsertMenu]    Script Date: 05-06-2024 21:59:58 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE PROCEDURE [dbo].[InsertMenu]
    @item_id INT,
    @item_name VARCHAR(100),
    @item_category INT,
    @item_description VARCHAR(255),
    @item_price DECIMAL(10, 2),
    @item_image VARBINARY(MAX)
AS
BEGIN
    INSERT INTO [dbo].[tbl_menu] ([item_id], [item_name], [item_category], [item_description], [item_price], [item_image])
    VALUES (@item_id, @item_name, @item_category, @item_description, @item_price, @item_image)
END
GO
/****** Object:  StoredProcedure [dbo].[InsertUser]    Script Date: 05-06-2024 21:59:58 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE PROCEDURE [dbo].[InsertUser]
   
    @user_name VARCHAR(50),
    @user_password VARCHAR(50),
    @user_type VARCHAR(50),
    @user_status VARCHAR(50),
    @user_registered_date DATE
AS
BEGIN
    INSERT INTO [dbo].[tbl_user] ([user_name], [user_password], [user_type], [user_status], [user_registered_date])
    VALUES ( @user_name, @user_password, @user_type, @user_status, @user_registered_date)
END
GO
/****** Object:  StoredProcedure [dbo].[MenuCategory_DeleteCategory]    Script Date: 05-06-2024 21:59:58 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE PROCEDURE [dbo].[MenuCategory_DeleteCategory]
    @category_id INT
AS
BEGIN
    DELETE FROM [dbo].[tbl_menu_category]
    WHERE [category_id] = @category_id
END
GO
/****** Object:  StoredProcedure [dbo].[MenuCategory_GetCategory]    Script Date: 05-06-2024 21:59:58 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
create procedure [dbo].[MenuCategory_GetCategory]
as
Begin
select * from tbl_menu_category;
end
GO
/****** Object:  StoredProcedure [dbo].[MenuCategory_InsertCategory]    Script Date: 05-06-2024 21:59:58 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE PROCEDURE [dbo].[MenuCategory_InsertCategory]
    @category_name VARCHAR(50),
    @category_description VARCHAR(255),
    @category_image VARBINARY(MAX)
AS
BEGIN
    INSERT INTO [dbo].[tbl_menu_category] 
    (
        [category_name], 
        [category_description], 
        [category_image]
    )
    VALUES 
    (
        @category_name, 
        @category_description, 
        @category_image
    )
END

GO
/****** Object:  StoredProcedure [dbo].[MenuCategory_UpdateCategory]    Script Date: 05-06-2024 21:59:58 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE PROCEDURE [dbo].[MenuCategory_UpdateCategory]
    @category_id INT,
    @category_name VARCHAR(50),
    @category_description VARCHAR(255),
    @category_image VARBINARY(MAX)
AS
BEGIN
    UPDATE [dbo].[tbl_menu_category]
    SET 
        [category_name] = @category_name,
        [category_description] = @category_description,
        [category_image] = @category_image
    WHERE 
        [category_id] = @category_id
END
GO
/****** Object:  StoredProcedure [dbo].[Shop_AddShopDetails]    Script Date: 05-06-2024 21:59:58 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE PROCEDURE [dbo].[Shop_AddShopDetails]
    @shop_name VARCHAR(250),
    @shop_email VARCHAR(250),
    @shop_phone_number VARCHAR(50),
    @shop_address VARCHAR(500),
    @tax_rate DECIMAL(10, 2)
AS
BEGIN
    INSERT INTO [dbo].[tbl_configuration]
    (
        [shop_name],
        [shop_email],
        [shop_phone_number],
        [shop_address],
        [tax_rate]
    )
    VALUES 
    (
        @shop_name,
        @shop_email,
        @shop_phone_number,
        @shop_address,
        @tax_rate
    )
END
GO
/****** Object:  StoredProcedure [dbo].[Shop_GetShopDetails]    Script Date: 05-06-2024 21:59:58 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE PROCEDURE [dbo].[Shop_GetShopDetails]
AS
BEGIN
    SELECT 
        [shop_id],
        [shop_name],
        [shop_email],
        [shop_phone_number],
        [shop_address],
        [tax_rate]
    FROM 
        [dbo].[tbl_configuration]
END
GO
/****** Object:  StoredProcedure [dbo].[Shop_UpdateShopDetails]    Script Date: 05-06-2024 21:59:58 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE PROCEDURE [dbo].[Shop_UpdateShopDetails]
    @shop_id INT,
    @shop_name VARCHAR(250),
    @shop_email VARCHAR(250),
    @shop_phone_number VARCHAR(50),
    @shop_address VARCHAR(500),
    @tax_rate DECIMAL(10, 2)
AS
BEGIN
    UPDATE [dbo].[tbl_configuration]
    SET 
        [shop_name] = @shop_name,
        [shop_email] = @shop_email,
        [shop_phone_number] = @shop_phone_number,
        [shop_address] = @shop_address,
        [tax_rate] = @tax_rate
    WHERE 
        [shop_id] = @shop_id
END
GO
/****** Object:  StoredProcedure [dbo].[Table_AddTable]    Script Date: 05-06-2024 21:59:58 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE PROCEDURE [dbo].[Table_AddTable]
    @table_number INT,
    @table_capacity INT,
    @table_status VARCHAR(50)
AS
BEGIN
    INSERT INTO [dbo].[tbl_table_detail]
    (
        [table_number], 
        [table_capacity], 
        [table_status]
    )
    VALUES 
    (
        @table_number, 
        @table_capacity, 
        @table_status
    )
END
GO
/****** Object:  StoredProcedure [dbo].[Table_DeleteTable]    Script Date: 05-06-2024 21:59:58 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE PROCEDURE [dbo].[Table_DeleteTable]
    @table_id INT
AS
BEGIN
    DELETE FROM [dbo].[tbl_table_detail]
    WHERE [table_id] = @table_id
END
GO
/****** Object:  StoredProcedure [dbo].[Table_GetTables]    Script Date: 05-06-2024 21:59:58 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE PROCEDURE [dbo].[Table_GetTables]
AS
BEGIN
    SELECT 
        [table_id], 
        [table_number], 
        [table_capacity], 
        [table_status]
    FROM 
        [dbo].[tbl_table_detail]
END
GO
/****** Object:  StoredProcedure [dbo].[Table_UpdateTable]    Script Date: 05-06-2024 21:59:58 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE PROCEDURE [dbo].[Table_UpdateTable]
    @table_id INT,
    @table_number INT,
    @table_capacity INT,
    @table_status VARCHAR(50)
AS
BEGIN
    UPDATE [dbo].[tbl_table_detail]
    SET 
        [table_number] = @table_number,
        [table_capacity] = @table_capacity,
        [table_status] = @table_status
    WHERE 
        [table_id] = @table_id
END
GO
/****** Object:  StoredProcedure [dbo].[UpdateMenu]    Script Date: 05-06-2024 21:59:58 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE PROCEDURE [dbo].[UpdateMenu]
    @item_id INT,
    @item_name VARCHAR(100),
    @item_category INT,
    @item_description VARCHAR(255),
    @item_price DECIMAL(10, 2),
    @item_image VARBINARY(MAX)
AS
BEGIN
    UPDATE [dbo].[tbl_menu]
    SET [item_name] = @item_name,
        [item_category] = @item_category,
        [item_description] = @item_description,
        [item_price] = @item_price,
        [item_image] = @item_image
    WHERE [item_id] = @item_id
END
GO
/****** Object:  StoredProcedure [dbo].[UpdateUser]    Script Date: 05-06-2024 21:59:58 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE PROCEDURE [dbo].[UpdateUser]
    @user_id INT,
    @user_name VARCHAR(50),
    @user_password VARCHAR(50),
    @user_type VARCHAR(50),
    @user_status VARCHAR(50)
AS
BEGIN
    UPDATE [dbo].[tbl_user]
    SET [user_name] = @user_name,
        [user_password] = @user_password,
        [user_type] = @user_type,
        [user_status] = @user_status
    WHERE [user_id] = @user_id
END
GO
/****** Object:  StoredProcedure [dbo].[ValidateUser]    Script Date: 05-06-2024 21:59:58 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE PROCEDURE [dbo].[ValidateUser]
    @user_name VARCHAR(50),
    @user_password VARCHAR(50)
AS
BEGIN
    SELECT * FROM [dbo].[tbl_user]
    WHERE [user_name] = @user_name AND [user_password] = @user_password
END
GO
