.reserve {
    font-family: "Roboto Slab", serif;
    background: url('../assets/plain_background.png') no-repeat center center;
    background-size: cover;
}

.booktable_header {
    color: #bb521f;
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 10px;
}

.booktable_header h3 {
    font-size: 25px;
}

.booktable_subheader {
    color: #bb521f;

    h5 {
        font-size: 17px;
        text-align: center;
    }
}

.booktable_icon {
    color: #bb521f;
    font-size: 1.5em;
}

.reservation-form-container {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100%;
    height: 100%;
    max-width: 1000px;
    margin: 0 auto;
    padding: 20px;
    box-sizing: border-box;
}

.reservation-form {
    display: flex;
    justify-content: space-between;
    width: 100%;
}

.left-side {
    margin-right: 5px;
    width: 45%;

    label {
        display: block;
        margin-bottom: 15px;
        color: #bb521f;
        text-align: left;
    }

    input {
        width: 100%;
        padding: 8px;
        margin-top: 5px;
        border: 2px solid #bb521f;
        border-radius: 8px;
        font-size: 16px;
        font-family: "Roboto Slab", serif;
        color: #4d4c4c;
        height: 20px;
    }

    input::placeholder {
        color: #737373;
    }
    
}

.right-side {
    width: 45%;

    label {
        display: block;
        margin-bottom: 15px;
        color: #bb521f;
        text-align: left;
    }

    textarea {
        width: 100%;
        padding: 8px;
        margin-top: 5px;
        border: 2px solid #bb521f;
        border-radius: 8px;
        font-size: 16px;
        color: #bb521f;
        height: 250px;
        font-family: "Roboto Slab", serif;
    }

    textarea::placeholder {
        color: #737373;
    }
}

.reservation-buttons {
    .add-btn {
        width: 200px;
    }
}

.add-btn {
    height: 33px;
    padding: 6px;
    cursor: pointer;
    font-family: "Roboto Slab", serif;
    font-size: 15px;
    color: #fff;
    text-align: center;
    border: 2px solid #ff914d;
    border-radius: 10px;
    background-image: linear-gradient(144deg, #ff3131, #ff914d);
    box-shadow: rgba(151, 65, 252, 0.2) 0 15px 30px -5px;
    width: 100px;
}

.cancel-btn {
    height: 33px;
    padding: 6px;
    cursor: pointer;
    font-family: "Roboto Slab", serif;
    font-size: 15px;
    color: #fff;
    text-align: center;
    border: 2px solid #ff914d;
    border-radius: 10px;
    background-image: linear-gradient(144deg, #ff3131, #ff914d);
    box-shadow: rgba(151, 65, 252, 0.2) 0 15px 30px -5px;
    width: 100px;
}

.error {
    width: 310px;
    color: red;
    font-size: 14px;
}